#sampleOrder p{
    margin: 0;
}
#sampleOrder{
    display: none;
}
#noOrders{
    display: none;
}
#noOrders img{
    width: 70%;
    height: auto;
    margin: auto;
}
#content-wrapper{
    display: block;
}
#loading{
    display: block;
    font-size: 25px;
    font-weight: 600;
    padding: 20px 0px;
}
#ordersColumn{
    display: flex;
    flex-direction: column;
}
.date{
    font-size: 12px;
    color: gray;
}